# To get a better local TUI.
rich~=13.9
# To manipulate crypto-currencies
binance-connector~=3.11
# To manipulate data
pandas~=2.2
# To display graphs
plotly~=5.24
# To ease data analysis
ta~=0.11
# To create datasclasses
pydantic~=2.10
# To manage the parameters/options/flags.
click~=8.1
