# To manipulate crypto-currencies
binance-connector~=3.10
# To simplify dataclass creation
pydantic~=2.10
# To manage the parameters/options/flags.
click~=8.1
# To get a better local TUI.
rich~=13.9
# To statically check the typing
mypy~=1.12
# To display graphs
plotly~=5.24
# To manipulate data
pandas~=2.2
